@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900');

body {
  font-family: "Source Sans Pro";
  margin: 0;
}
.fa {
  color: black;
  font-size: 1em;
}

section {
  box-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.1);
}

h2 {
  font-size: 2.5em;
  font-weight: 300;
}

.spotlight {
  display: flex;
}

section:nth-of-type(2) div:nth-child(2) {
  /*background-image: url("images/spotlight01.jpg");*/
}

section:nth-of-type(3) div:nth-child(2) {
  background-image: url("images/spotlight02.jpg");
}

section:nth-of-type(4) div:nth-child(2) {
  background-image: url("images/spotlight03.jpg");
}

.spotlight div:nth-child(2) {
  width: 45%;
}

.spotlight.style1 .image {
  /*background-size: cover;
  background-position: center;*/
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.spotlight.style2 .image {
  padding: 10px;
  width: 45vw;
  height: 45vw;
  object-position: center;
  display: flex;
  align-items: center;
}

.spotlight.style2 img {
  /*background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  /*object-fit: fill;*/
  display: inline-block;
  border-radius: 100%;
  width: 100%;
  /*height: 100%;*/
  overflow: hidden;
}

.spotlight:nth-child(odd) div:nth-child(2) {
  order: 2;
}

.spotlight:nth-child(even) div:nth-child(2) {
  order: 1;
}

.spotlight div:nth-child(1) {
  width: 55%;
  padding: 40px 65px 65px 65px;
  font-size: 1.18em;
  font-weight: 200;
  text-align: left;
}

.spotlight:nth-child(odd) div:nth-child(1) {
  order: 1;
}

.spotlight:nth-child(even) div:nth-child(1) {
  order: 2;
}

.spotlight b {
  font-weight: 400;
}

.spotlight button {
  padding: 20px;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  border-radius: 30px;
  background-color: inherit;
  text-transform: uppercase;
  width: 200px;
  transition: all 500ms;
}

.spotlight button:hover {
  color: #47D3E5;
  border-color: #47D3E5;
}

.spotlight a {
  color: black;
  transition: all 500ms;
}

.spotlight a:hover {
  color: #47D3E5;
}

code {
  background-color: hsla(0, 0%, 0%, 0.05);
  font-weight: 100;
  padding: 5px;
  border-radius: 5px;
}
