@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

.black {
  background-color: #000;
}

.small {
  height: 30px;
}

.medium {
  height: 70px;
}

.large {
  height: 250px;
}

.extra-large {
  height: 400px;
}

.buffer {
  margin-right: 48px;
}

.small-buffer {
  margin-bottom: 35px;
}

.medium-buffer {
  margin-bottom: 55px;
}

.large-buffer {
  margin-bottom: 65px;
}

.top-buffer {
  margin-top: 24px;
}
